@import "utility";

@media (max-width: 374px) {
  .testimonials {
    &__quotation {
      display: none;
    }
  }
}

@media (min-width: 820px) {
  .testimonials__container {
    grid-template-columns: repeat(3, 1fr) !important;
    // grid-template-rows: repeat();
  }

  .margin-top-grid {
    margin-top: 3rem;
  }
}
