@import "variables";

.grid {
  display: grid;
}

.flex {
  display: flex;
}

.violet-bg {
  background-color: $violet;
}

.gray-blue-bg {
  background-color: $gray-blue;
}

.white-bg {
  background-color: $white;
}

.black-blue-bg {
  background-color: $black-blue;
}

.white-txt {
  .testimonials__author {
    &--name {
      h2 {
        color: $white;
      }
      p {
        color: $white;
        opacity: 0.55;
      }
    }
  }

  .testimonials__content {
    h1 {
      color: $white;
    }
    p {
      color: $white;
      opacity: 0.55;
    }
  }
}

.gray-blue-txt {
  .testimonials__author {
    &--name {
      h2 {
        color: $gray-blue;
      }
      p {
        color: $gray-blue;
        opacity: 0.55;
      }
    }
  }

  .testimonials__content {
    h1 {
      color: $gray-blue;
    }
    p {
      color: $gray-blue;
      opacity: 0.55;
    }
  }
}

.testimonials__card {
  &__author {
    .border-soft-violet {
      img {
        border: 3px solid hsl(263, 42%, 60%);
      }
    }

    .border-violet {
      img {
        border: 3px solid $violet;
      }
    }
  }
}

.testimonials {
  &__container {
    .margin-top {
      margin-top: 3rem;
    }
  }
}
