@import "media";
@import "reset";
@import "variables";
@import "utility";

.testimonials__container {
  grid-template-columns: 1fr;

  .testimonials__card {
    padding: 3rem;

    .testimonials__author {
      align-items: center;
      justify-content: flex-start;
      gap: 2rem;

      &--image {
        img {
          width: 5rem;
          border-radius: 50%;
        }
      }
    }
  }
}
